/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40b3a2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.show-offer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-btn {
  height: 60px;
  width: 150px;
  border: 1px solid transparent;
  outline: none;
  background-color: rgb(219, 216, 216);
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-family: inherit;
}
.acceptoffer {
  height: 40px;
  width: 130px;
  border: 1px solid transparent;
  outline: none;
  background-color: rgb(219, 216, 216);
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-family: inherit;
}
.close-btn {
  background-color: rgb(221, 219, 219);
  cursor: pointer;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer {
  place-items: center;
  border: 1px solid black;
  margin-top: 10px;
  padding: 8px;
}
.acceptOffer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-accept {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(207, 167, 245);
}
.offercontainer {
  border: 1px solid transparent;
  padding: 10px;
  background-color: rgb(219, 192, 244);
  height: 40px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: inherit;
}
